// Utility
// ==============


// Border
// --------------

.u-border
  box-shadow 0 0 0 1px rgba(0,0,0,.05)


// Depth
// --------------

.u-depth-1
  z-index 1


// Large
// --------------

.u-large
  @media screen and (min-width $screen-medium)
    font-size 2.5rem
  @media screen and (min-width $screen-large)
    font-size 3rem


// Center
// --------------

.u-center
  text-align center


// Right
// --------------

.u-right
  @media screen and (min-width $screen-medium)
    text-align right


// Rotate
// --------------

.u-rotate-45
  transform rotate(45deg)

.u-rotate-90
  transform rotate(90deg)

.u-rotate-135
  transform rotate(135deg)

.u-rotate-180
  transform rotate(180deg)


// Visually Hidden
// --------------

.u-visually-hidden
  position absolute
  overflow hidden
  clip rect(0 0 0 0)
  height 1px
  width 1px
  margin -1px
  padding 0
  border 0