// Variables
// ==============


// Colors
// --------------

// Blues
$blue              = rgb(31,156,177)
$blue-dark         = darken($blue, 16)
$blue-light        = lighten($blue, 16)
$blue-lighter      = lighten($blue, 48)
$blue-lightest     = lighten($blue, 64)

// Greens
$green             = rgb(0,255,140)
$green-dark        = darken($green, 16)
$green-light       = lighten($green, 16)
$green-lighter     = lighten($green, 48)
$green-lightest    = lighten($green, 64)

// Reds
$red               = rgb(255,48,0)
$red-dark          = darken($red, 16)
$red-light         = lighten($red, 16)
$red-lighter       = lighten($red, 48)
$red-lightest      = lighten($red, 64)

// Neutrals
$black             = rgb(0,0,0)
$grey              = lighten($black, 16)
$grey-medium       = lighten($black, 32)
$grey-light        = lighten($black, 64)
$grey-lighter      = lighten($black, 88)
$grey-lightest     = lighten($black, 96)
$white             = rgb(255,255,255)

// Transparencies
$dark-10           = rgba(0,0,0,.1)
$dark-20           = rgba(0,0,0,.2)
$dark-50           = rgba(0,0,0,.5)
$light-10          = rgba(255,255,255,.1)
$light-20          = rgba(255,255,255,.2)
$light-50          = rgba(255,255,255,.5)

// Margins
// --------------

$content-margin    = 3rem


// Transitions
// --------------

// Speeds
$instant           = 0s
$fast              = .125s
$medium            = .25s
$slow              = .5s

// Defaults
$fast-ease-in      = all $fast ease-in
$fast-ease-out     = all $fast ease-out
$medium-ease-in    = all $medium ease-in
$medium-ease-out   = all $medium ease-out
$slow-ease-in      = all $slow ease-in
$slow-ease-out     = all $slow ease-out


// Breakpoints
// --------------

$screen-medium     = 568px
$screen-large      = 769px
$screen-xlarge     = 1280px
$screen-xxlarge    = 1441px
$screen-xxlarge    = 1920px