// Content
// ==============


.c-content
  display flex
  flex-direction column
  flex 1 auto
  margin-top -12rem
  background $white
  @media screen and (min-width $screen-medium)
    margin-top -10rem
  @media screen and (min-width $screen-large)
    margin-top -12rem