// Container
// ==============


.c-container
  width 100%
  margin 0 auto
  padding-right 2rem
  padding-left 2rem
  @media screen and (min-width $screen-medium)
    padding-right 4rem
    padding-left 4rem
  @media screen and (min-width $screen-large)
    padding-right 6rem
    padding-left 6rem
  @media screen and (min-width $screen-xlarge)
    width 150rem
    margin 0 auto
    padding-right 0
    padding-left 0