// Grid
// ==============


.c-grid
  display flex
  flex-direction row
  flex-wrap wrap
  justify-content space-between
  margin-left -3rem
  @media screen and (min-width $screen-medium)
    margin-left -4rem
  @media screen and (min-width $screen-large)
    margin-left -6rem
  &.-show
    span
      display block
      min-height 1rem
      margin-bottom $content-margin
      padding 2rem 0
      background-color $grey
      color #fff
      text-align center
      &.-grey
        background-color $grey
      &.-grey-medium
        background-color $grey-medium
      &.-grey-light
        background-color $grey-light
      &.-grey-lighter
        background-color $grey-lighter
      &.-green
        background-color $green
      &.-green-dark
        background-color $green-dark
      &.-green-light
        background-color $green-light
      &.-blue
        background-color $blue
      &.-blue-dark
        background-color $blue-dark
      &.-blue-light
        background-color $blue-light


// Grid > Col
// --------------

.c-grid_col
  flex 1 1 100%
  padding-left 3rem
  &.-sm-1-2
    flex 0 0 50%
  &.-sm-1-3
    flex 0 0 33.333%
  &.-sm-1-4
    flex 0 0 25%
  &.-sm-2-3
    flex 0 0 66.666%
  &.-sm-3-4
    flex 0 0 75%
  &.-sm-o-1
    order 1
  &.-sm-o-2
    order 2
  &.-sm-o-3
    order 3
  &.-sm-o-4
    order 4
  &.-sm-o-5
    order 5
  &.-sm-o-6
    order 6
  @media screen and (min-width $screen-medium)
    padding-left 4rem
    &.-md-1-2
      flex 0 0 50%
    &.-md-1-3
      flex 0 0 33.333%
    &.-md-1-4
      flex 0 0 25%
    &.-md-1-5
      flex 0 0 20%
    &.-md-2-3
      flex 0 0 66.666%
    &.-md-3-4
      flex 0 0 75%
    &.-md-4-5
      flex 0 0 80%
    &.-md-o-1
      order 1
    &.-md-o-2
      order 2
    &.-md-o-3
      order 3
    &.-md-o-4
      order 4
    &.-md-o-5
      order 5
    &.-md-o-6
      order 6
    .-spaced &
      margin-bottom 1rem
  @media screen and (min-width $screen-large)
    padding-left 6rem
    &.-lg-1-2
      flex 0 0 50%
    &.-lg-1-3
      flex 0 0 33.333%
    &.-lg-1-4
      flex 0 0 25%
    &.-lg-1-5
      flex 0 0 20%
    &.-lg-1-6
      flex 0 0 16.666%
    &.-lg-2-3
      flex 0 0 66.666%
    &.-lg-3-4
      flex 0 0 75%
    &.-lg-4-5
      flex 0 0 80%
    &.-lg-5-6
      flex 0 0 83.333%
    &.-lg-o-1
      order 1
    &.-lg-o-2
      order 2
    &.-lg-o-3
      order 3
    &.-lg-o-4
      order 4
    &.-lg-o-5
      order 5
    &.-lg-o-6
      order 6
    .-spaced &
      margin-bottom 3rem