// Heading
// ==============


.c-heading
  font-style normal
  font-weight 300
  line-height 1
  &.-level1
    font-size 6rem
    line-height 7rem
  &.-level2
    font-size 5rem
    line-height 6rem
  &.-level3
    font-size 4rem
    line-height 5rem
  &.-level4
    font-size 3rem
    line-height 4rem
  &.-level5
    font-size 2.5rem
    line-height 3rem
  &.-level6
    font-size 2rem
    line-height 3rem