// Rooms
// ==============


.c-rooms
  margin-top 6rem

// Rooms > Room
// --------------

.c-rooms_room
  padding-top 3rem
  border-bottom 1px solid $grey-lighter
  &:first-child
    padding-top 0
  &:last-child
    border 0