// Section
// ==============


.c-section
  position relative
  &.-padded
    padding-top 3rem
    padding-bottom 1rem
    @media screen and (min-width: 768px)
      padding-top 6rem
      padding-bottom 3rem
  &.-spaced
    padding-top 3rem
    padding-bottom 1rem
    @media screen and (min-width: 768px)
      margin-top 6rem
      margin-bottom 3rem
  &.-light
    color $white
    a
      color $white
  &.-grey
    background-color $grey
  &.-grey-medium
    background-color $grey-medium
  &.-grey-light
    background-color $grey-light
  &.-grey-lighter
    background-color $grey-lighter
  &.-grey-lightest
    background-color $grey-lightest
  &.-green
    background-color $green
  &.-green-dark
    background-color $green-dark
  &.-green-light
    background-color $green-light
  &.-blue
    background-color $blue
  &.-blue-dark
    background-color $blue-dark
  &.-blue-light
    background-color $blue-light