header.c-intro.-instructions
  .c-container.u-depth-1
    h1.c-heading.-level2 Slack Instructions

section.c-section.-padded.-grey-lightest
  .c-container
    h1.c-heading.-level3 Room Status
    .c-grid
      .c-grid_col.-md-1-2
        p To receive alerts on a room's availability, join its channel in Slack.
        ol
          li <code><strong>⌘t</strong></code> to bring up the channel search
          li Start typing the channel name ie. <code><strong>room-mens</strong></code>
          li Hit <code><strong>enter</strong></code> to join
      .c-grid_col.-md-1-2
        img(src='/images/channel-search.png', alt='Channel Search')

section.c-section.-padded
  .c-container
    h1.c-heading.-level3 Get Notified
    .c-grid
      .c-grid_col.-md-1-2
        p Set your notification settings in the room to receive alerts.
        ol
          li Click the down caret <i class="fa fa-chevron-down"></i> next to the room name
          li Click <code><strong>Channel notification preferences</strong></code>
      .c-grid_col.-md-1-2
        img(src='/images/channel-menu.png', alt='Channel Menu')
      .c-grid_col.-md-1-2
        ol(start='3')
          li Set your notification preferences to <code><strong>Activity of any kind</strong></code>
      .c-grid_col.-md-1-2
        img(src='/images/channel-notifications-enabled.png', alt='Channel Notifications Enabled')
    p You are now set up to receive notifications when bathroom stalls becomes available!

section.c-section.-padded.-grey-lightest
  .c-container
    h1.c-heading.-level3 Stop Notifications
    .c-grid
      .c-grid_col.-md-1-2
        p If you want to stop receiving notifications, you have two options:
        ol
          li Adjust the notification settings to <code><strong>Nothing (default)</strong></code>
      .c-grid_col.-md-1-2
        img(src='/images/channel-notifications-disabled.png', alt='Channel Notifications Disabled')
      .c-grid_col.-md-1-2
        ol(start='2')
          li Leave the room by typing <code><strong>/leave</strong></code> in the room message field.
      .c-grid_col.-md-1-2
        img(src='/images/channel-leave.png', alt='Leave a Channel')
    p <strong>Note:</strong> You will need to rejoin the room to start receiving notifications again.
