nav.c-nav.js-nav
  ul.c-nav_list
    li.c-nav_item
      a.c-nav_link(href='/', class=(current.path[0] === 'index' ? '-active' : '')) Rooms
    li.c-nav_item
      a.c-nav_link(href='/slack', class=(current.path[0] === 'slack' ? '-active' : '')) Slack
    li.c-nav_item
      a.c-nav_link(href='/about', class=(current.path[0] === 'about' ? '-active' : '')) About