header.c-intro.-instructions
  .c-container.u-depth-1
    h1.c-heading.-level2 About Blitz

section.c-section.-padded
  .c-container
    .c-grid
      .c-grid_col.-md-1-2
        p Blitz gives you insight on when a room, stall, shower etc becomes available. No more waiting outside the room for someone to leave.
      .c-grid_col.-md-1-2
        p Just check the room's channel status in Slack and set your notifications to receive updates.